h1 {
    text-align: center;
}

.big-box {
    width: 500px;
    height: 500px;
    background-color: white;
    border: 2px solid black;
    margin-left: 32.5%;
}

.middle-box {
    width: 300px;
    height: 300px;
    background-color: white;
    border: 2px solid black;
    margin-left: 19%;
    margin-top: 17.5%;
}

.small-box {
    width: 100px;
    height: 100px;
    background-color: white;
    border: 2px solid black;
    text-align: center;
    margin-left: 32.5%;
    margin-top: 30%;
}

